.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background {
    height: 100vh;                     /* fills full viewport height */
    width: 100%;                       /* fills available width */
    background-image: url("/image.png");
    background-size: cover;            /* scale to cover entire area */
    background-position: center;       /* center the focal point */
    background-repeat: no-repeat;      /* no tiling */
    display: flex;                     /* optional: to center content inside */
    align-items: center;
    justify-content: center;
    position: fixed;
}

.learnMore {
  position: absolute;
  bottom: 0;
  background: rgb(253, 68, 43);
  width: 100vw;
  text-align: right;
  padding: 6px 20px 3px 5px;
  font-size: 18px;
  border-top: solid 2px rgb(63, 27, 27);
  border-bottom: solid 2px rgb(63, 27, 27);
  color: rgb(48, 31, 29);
}

.name {
  position: fixed;
  bottom: 25px;
  font-size: 30px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.name h1 {
  margin-left: 15px;
  font-size: 50px;
  white-space: nowrap;
}

.name p {
  font-size: 22px;
  margin-left: 15px;
  white-space: nowrap;
  margin-bottom: 8px;
}

.footer {
  top: 300vh;
}

/* --- Mobile --- */
@media (max-width: 600px) {
  .name {
    flex-direction: column;
    align-items: center;
    bottom: 15px;
    font-size: 22px;
  }

  .name h1 {
    font-size: 32px;
    margin-left: 0;
  }

  .name p {
    font-size: 18px;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

/* --- IPad --- */
@media (min-width: 601px) and (max-width: 1024px) {
  .name {
    font-size: 26px;
    bottom: 20px;
    margin-bottom: 10px;
  }

  .name h1 {
    font-size: 40px;
  }

  .name p {
    font-size: 20px;
  }
}